#app {
    /* font-family: avenir, helvetica, arial, sans-serif; */
    display: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: rgb(203, 206, 221);
}

.modal-content {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 60%;
    background: #fff;
    border-radius: 16px;
    display: flex;
}

.wrapper-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.price-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-image {
    margin-top: 56px;
    margin-left: 56px;
}

.image-preview {
    margin-top: 16px;
}

.image-preview img {
    margin-right: 8px;
}

.active-preview img {
    border: 1px solid #2a81dd;
    border-radius: 8px;
}

.description {
    margin-top: 64px;
}

.price {
    display: flex;
    flex-direction: column;
}

.naming {
    font-weight: 400;
    display: flex;
}

.order-button {
    display: flex;
    line-height: 24px;
    font-size: 14px;
    background: #2a81dd;
    border-radius: 8px;
    min-width: 134px;
    min-height: 36px;
    border: none;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
    color: #fff;
    justify-content: center;
}

.product-price {
    display: flex;
}

.user-points {
    display: flex;
    flex-direction: column;
    color: #1c1819;
    margin-bottom: 2px;
    font-size: 13px;
}

.price-block user-points {
    display: flex;
    align-items: flex-end;
}

.available-colors {
    font-size: 14px;
    display: flex;
    color: #1c1819;
}

.radio-buttons {
    display: flex;
    margin-bottom: 24px;
}

.radio-buttons-color input {
    display: none;
}

.radio-buttons-color {
    background: #d6ecfb;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    font-size: 14px;
    margin-right: 16px;
    height: 40px;
}

.radio-buttons-color img {
    margin-right: 8px;
    margin-left: 8px;
}

.radio-buttons-color label {
    margin-right: 8px;
}

.unchecked-buttons {
    display: flex;
    background: #fff;
    color: #2a81dd;
}

.size {
    display: flex;
    font-size: 14px;
}

.radio-buttons-size {
    width: 40px;
    height: 40px;
    background: #d6ecfb;
    margin-right: 8px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.radio-buttons-size input {
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-title {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.info-description {
    display: flex;
    margin-top: 4px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
}

.how-to-choose {
    display: flex;
    color: #1c1819;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 4px;
}

.how-to-choose-description {
    display: flex;
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
}

.wrapper-unchecked-size {
    background: white;
    display: flex;
}

.colored-square1 {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #00458a;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
}

.colored-square2 {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #efe8d8;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
}

.colored-square3 {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #d4d4da;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
}

.close {
    position: absolute;
    border: none;
    background: none;
    top: 3px;
    right: -3px;
    padding: 30px;
    margin-right: 8px;
    color: #888b94;
    font-size: 34px;
    font-weight: 400;
}

.main-page {
    font-family: 'Open Sans', sans-serif;
    width: 1400px;
    background: #fff;
    display: grid;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: 95%;
    margin: 32px 40px 24px 32px;
}

.logo {
    display: flex;
    align-self: flex-start;
    margin-right: 50px;
}

.user-area {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.user-photo {
    border-radius: 25px;
    display: flex;
    margin-right: 12px;
}

.wrapper-for-logo-and-search {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.search-text {
    font-size: 18px;
    color: #888b94;
    border: none;
    display: flex;
    background: #f2f2f3;
    margin-left: 16px;
}

.search-button {
    display: flex;
    border-radius: 8px;
    background: #f2f2f3;
    justify-content: center;
    align-items: center;
    border: none;
    width: 308px;
    height: 44px;
    margin-left: -10px;
}

.user-name {
    color: #2a81dd;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 14px;
}

.sidebar {
    color: #1c1819;
    min-width: 282px;
}

.wrapper-footer {
    background-color: #1c1819;
    color: white;
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    list-style-type: none;
}

.socials img {
    margin-right: 14px;
}

.copyright {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 32px;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-text {
    font-size: 14px;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: white;
    width: 150px;
    height: 36px;
    font-size: 14px;
    line-height: 24px;
    color: #2a81dd;
    margin: 30px;
}

.badge-new {
    background: #64bd38;
    width: 38px;
    height: 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    padding: 4px;
    display: flex;
    margin: 0 16px;
    justify-content: center;
}

.item-price {
    color: #2a81dd;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.item-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1c1819;
}

.item-size-active {
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
}

.item-size {
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
    margin-bottom: 64px;
}

.buy-now {
    background: #2a81dd;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: none;
    width: 298px;
    height: 44px;
    margin: 16px;
    color: white;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
}

.item-active {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
}

.item-description {
    margin: 16px;
}

.get-points {
    background: #eff8eb;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    font-weight: 600;
    padding-left: 24px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.get-points img {
    margin-right: 16px;
}

.how-to-get-points {
    background: #fffae7;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    font-weight: 600;
    margin-inline: 24px;
    padding-left: 24px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.present-points {
    background: #e9f2fb;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    font-weight: 600;
    padding-left: 24px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.info-buttons {
    display: flex;
    flex-direction: row;
    margin: 24px;
    justify-content: space-between;
    margin-left: 5px;
    max-width: 1038px;
}

.item-options1 {
    background: #d6ecfb;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
    padding: 6px 30px;
}

.item-options2,
.item-options3 {
    background: white;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
    padding: 6px 30px;
    color: #2a81dd;
    border: 1px solid #d2d7e6;
}

.items-type {
    display: flex;
    margin-bottom: 16px;
}

.items-type-options {
    position: absolute;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-radio-buttons {
    display: flex;
}

.page {
    display: flex;
}

.listing {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    font-size: 16px;
    line-height: 24px;
    color: #1c1819;
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    line-height: 24px;
    color: #1c1819;
    list-style-type: none;
    margin-bottom: 26px;
    margin-right: 6px;
}

.menu a {
    text-decoration: none;
}

.item-price-active {
    color: #f33;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.blue-rectangle {
    width: 4px;
    height: 36px;
    background-color: #2a81dd;
    border-radius: 30px;
    margin-right: 6px;
}

.selected-tab {
    display: flex;
    align-items: center;
}
